<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h2>Quiz about design patterns, antipatterns and refactorings. Please awnser all the questions</h2>

    <% @info.each do |question|  %>
         <h3><%= question["question"] %></h3>
        <ol>
            <li><%= question["answer-1"] %> </li>
            <li><%= question["answer-2"] %> </li>

            <% if question["answer-3"] != nil %>
                <li><%= question["answer-3"] %> </li>
            <% end %>
        </ol>
        <p>Correct answer <%= question["correct-answer"] %></p>
        <br>
    <% end %>

</body>
</html>